.shareOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  .shareOption:hover {
    background-color: #c1ddf1;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  .shareOption > .MuiSvgIcon-root {
    padding: 5px;
  }
  .shareOption > h2 {
    font-weight: 700;
    font-size: 10px;
    margin-right: 0px;
  }
  .shareOption--active {
    color: var(--twitter-color);
  }